* {
    margin: 0;
    padding: 0;
}
body{
    margin: 10px;
    align-content: center;
    color: white;
    font-family: sans-serif;
}
.container{
  border: solid lightgray 15px;
    display: block;
    width: 1500px;
    margin: 0px auto;
    padding: 15px;
}
.header{
    background-color: gray;
    font-size: 40px;
    margin-bottom: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 202, 221);
    height: 700px;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.heading {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
}
.section-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 34s0px;
    align-items: center;
    justify-content: center;
  }
  .circle {
    background-color: rgb(124, 66, 66);
    border-radius:50%;
    height:320px;
    width: 320px;   
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
    justify-content: center;
  }

  .section-2 {
    display: flex;
    flex-direction: row;
    height: 540px;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
  }

.left{
    background-color: rgb(116, 113, 113);
    width: 50%;
    height: 540px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 5px;
}


.right{
    display:flex;
    flex-direction: column;
    width: 50%;
    height: 550px;
}

.artical{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(129, 91, 129);
    font-size: 40px;
    height: 180px;
}
.box {
    height: 400px;
    margin-bottom: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
  }
  
  .rectBox {
    background-color: rgb(54, 204, 116);
    width: 22%;
    margin: 10px 15px;
  }

  .footer{
    background-color: rgb(235, 144, 144);
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 50px;
  }