* {
    margin: 0;
    padding: 0;
}
body{
    margin: 10px;
}
.container{
    display: block;
    width: 1500px;
    border-radius: 10px;

}
.header{
    background-color: gray;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(55, 202, 221);
    height: 700px;
    color: white;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.heading {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.section-1 {
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 46vh;
    align-items: center;
    justify-content: center;
  }
  .circle {
    background-color: rgb(124, 66, 66);
    border-radius:50%;
    height:40vh;
    width: 20vw;
    margin-left: 35px;
    margin-right: 35px;
    text-align: center;
    justify-content: center;
  }

  .section-2 {
    display: flex;
    flex-direction: row;
    /* border:1px black solid; */
    height: 540px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
  }

.left{
    background-color: rgb(116, 113, 113);
    color: white;
    width: 50%;
    height: 540px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 5px;
}


.right{
    display:flex;
    flex-direction: column;
    width: 50%;
    height: 550px;
}

.artical{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(202, 126, 202);
    color: white;
    font-size: 40px;
    height: 180px;
}
.box {
    /* border:1px black solid; */
    height: 425px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .rectBox {
    background-color: brown;
    width: 25%;
    margin: 10px 15px;
  }

  .footer{
    background-color: rgb(31, 145, 126);
    font-size: 20px;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }