  * {
        margin: 0;
        padding: 0;
      }
      body {
        background-color:rgb(147, 150, 148); 
        margin: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      
      h1 {
        text-align: center;
        letter-spacing: 3px;
        color: black;
        font-size: 45px;
        padding-top: 30px;
      }

      .d1{
          text-align: center;
          margin-left: 50px;
          margin-right: 50px;
      }
      .container {
        display: block;
        float: left;
        width: 100%;    
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .box {
        color: white;
        margin: 5px 5px;
        border-radius: 5px;
        float: left;
        width: 280px;
        margin: 30px;
        background-color:black  ;
      }
      .box:hover {
        background-color: rgb(255, 255, 255);
        color: black;
      }
      
      .boxImage img {
        width: 100%;
        border-radius: 10px;
        height: 150px;
      }
      .boxImage {
        padding: 20px;
      }
      
      .title {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 20px;
        margin-right: 20px;
      }
      .title h3 {
        text-align: center;
        width: 100%;
       
      }

      .intro {
        text-align: justify;
        padding: 10px;
        margin: 5px;
        height: 200px;
        line-height: 20px;
        font-family: serif;
      }
      .intro .button a {
        background-color: rgb(82, 136, 185);
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: auto;
        text-decoration: none;
        color: white;
        text-align: center;
        width: 90%;
        display:block;
      }
      .button a:hover{
        background-color: rgb(187, 75, 75);
        color: black;
        font-style: oblique;
      }