* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
body {
  background-color: lightgray;
}
.container {
  border: 0px solid;
  width: 100%;
  margin: 0px auto;
  background-color: lightgray;
}
.container1 {
  border: 0px;
  width: 100%;
  margin: 0px auto;
}
.show-button:hover,
.hide-button:hover {
  color: rgb(39, 39, 70);
}
.show-button,
.hide-button {
  font-size: 30px;
  color: white;
  line-height: 70px;
  transition: 0.6s;
  display: none;
}
.show-button {
  float: right;
}
#chk {
  position: absolute;
  visibility: hidden;
  z-index: -10;
}
.header {
  background-color: rgb(128, 128, 128);
  width: 100%;
  height: 70px;
  font-size: 30px;
  padding: 0 20px;
  position: sticky;
  top: 0px;
  z-index: 100;
  color: white;
  font-family: monospace;
  margin-bottom: 20px;
  border: 1px solid black;
}
.header .navbar {
  list-style: none;
  float: right;
}
.navbar li {
  line-height: 70px;
  display: inline-block;
}
.navbar li a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 20px;
  padding: 0px 20px;
  text-align: center;
  font-family: sans-serif, Arial, Helvetica;
}
.navbar li a:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

@media (min-width: 1200px) {
  .banner {
    width: 100%;
    height: 90vh;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    position: relative;
    border: 1px solid black;
  }
  .banner img {
    width: 100%;
    height: 90vh;
    position: absolute;
  }
  .overlap {
    padding: 15px;
    font-size: 60px;
    position: absolute;
    z-index: 1;
  }
  .overlap1 {
    font-size: 30px;
    color: black;
    z-index: 1;
    position: absolute;
    left: 33%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
 
  #content::after {
    content: "";
    display: block;
    clear: both;
  }
  #tech {
    padding-left: 1%;
    padding-right: 1%;
  }
  #tech::after {
    content: "";
    display: block;
    clear: both;
  }
  .box {
    width: 21.75%;
    height: 60vh;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: black;
    float: left;
    transition: 0.5s;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    transition: 0.5s;
    position: relative;
  }
  .box:hover {
    background-color: rgb(114, 163, 91);
  }
  .box img {
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    border-bottom: 1px solid black;
  }
  .title {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .title h3 {
    text-align: center;
    width: 100%;
  }
  .intro {
    height: 130px;
    text-align: justify;
    padding: 10px;
    margin: 5px;
    line-height: 20px;
    font-family: serif;
    overflow: hidden;
    padding-top: 0px;
  }
  .button a {
    background-color: rgb(82, 136, 185);
    display: block;
    text-decoration: none;
    color: white;
    height: auto;
    width: 90%;
    margin: 5%;
    margin-top: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid black;
    border-radius: 10px;
  }
  .button a:hover {
    background-color: rgb(187, 75, 75);
    font-size: large;
    color: black;
    font-family: serif;
  }
  .members {
    padding-left: 1%;
    padding-right: 1%;
  }
  .members::after {
    content: "";
    display: block;
    clear: both;
  }
  #circle img {
    width: 21%;
    height: 21%;
    border-radius: 50%;
    margin-left: 1.75%;
    margin-right: 1.75%;
    background-color: rgb(226, 152, 13);
    float: left;
    border: 1px solid black;
  }

  .footer {
    background-color: rgb(27, 94, 82);
    width: 100%;
    height: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
  }
  .footer a{
    color: black;
  }
  .footer a:hover{
    color: orchid;
  }

  #left-sidebar {
    width: 49%;
    height: 530px;
    text-align: justify;
    padding: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 30px;
    background-color: gray;
    float: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    margin: 0.5%;
    margin-right: 0.25%;
    margin-bottom: 0%;
    margin-top: 0%;
  }
  #right-sidebar {
    width: 49%;
    height: 530px;
    float: right;
    margin: 0.5%;
    margin-left: 0.2%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  #Article {
    width: 100%;
    height: 32%;
    background-color: darksalmon;
    margin-bottom: 10.5px;
    font-size: 40px;
    color: white;
    font-family: monospace;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .banner {
    width: 100%;
    height: 90vh;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    position: relative;
    border: 1px solid black;
  }
  .banner img {
    width: 100%;
    height: 90vh;
    position: absolute;
  }
  .overlap {
    padding: 15px;
    font-size: 60px;
    position: absolute;
    z-index: 1;
  }
  .overlap1 {
    font-size: 30px;
    color: black;
    z-index: 1;
    position: absolute;
    left: 33%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  #content::after {
    content: "";
    display: block;
    clear: both;
  }
  #tech {
    margin: 6%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  #tech::after {
    content: "";
    display: block;
    clear: both;
  }
  .box {
    width: 40%;
    height: 70vh;
    margin: 5%;
    background-color: black;
    color: white;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
  }
  .box:hover {
    background-color: rgb(114,163, 91);
  }
  .box img {
    width: 100%;
    height: 28vh;
    border-bottom: 1px solid black;
    border-radius: 10px;
  }
  .title {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .title h3 {
    text-align: center;
    width: 100%;
  }
  .intro {
    height: 130px;
    text-align: justify;
    padding: 10px;
    margin: 5px;
    line-height: 20px;
    font-family: serif;
    overflow: hidden;
    padding-top: 0px;
  }
  .button a {
    background-color: rgb(82, 136, 185);
    display: block;
    text-decoration: none;
    color: white;
    height: auto;
    width: 90%;
    margin: 5%;
    margin-top: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid black;
    border-radius: 10px;
  }
  .button a:hover {
    background-color: rgb(187, 75,75);
    font-size: large;
  }
  .members {
    padding-left: 10%;
    padding-right: 10%;
  }
  .members::after {
    content: "";
    display: block;
    clear: both;
  }
  #circle img {
    width: 39%;
    height: 39%;
    border-radius: 50%;
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 5%;

    background-color: rgb(226, 152, 13);
    float: left;
    border: 1px solid black;
  }

  .footer {
    background-color: rgb(27,94,82);
    width: 100%;
    height: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
  }
  .footera{
    color: black;
  }
  .footer a:hover{
    color: orchid;
  }

  #left-sidebar {
    width: 49%;
    height: 520px;
    text-align: justify;
    padding: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 30px;
    background-color: gray;
    float: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    margin: 0.5%;
    margin-right: 0.25%;
    margin-bottom: 0%;
    margin-top: 0%;
  }
  #right-sidebar {
    width: 49%;
    height: 520px;
    float: right;
    margin: 0.5%;
    margin-left: 0.2%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  #Article {
    width: 100%;
    height: 32%;
    background-color: darksalmon;
    margin-bottom: 10.5px;
    font-size: 40px;
    color: white;
    font-family: monospace;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
  }
}

@media (max-width: 799px) and (min-width: 480px) {
  .show-button,
  .hide-button {
    display: block;
  }
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    padding: 80px 0px;
    transition: 0.7s;
    line-height: normal;
  }
  #chk:checked ~ .navbar {
    right: 0;
  }
  .navbar li {
    display: block;
    padding: 20px 0;
  }
  .navbar li a {
    display: block;
  }
  .hide-button {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .banner {
    width: 100%;
    height: 85vh;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    position: relative;
    border: 1px solid black;
  }
  .banner img {
    width: 100%;
    height: 85vh;
    position: absolute;
  }
  .overlap {
    padding: 15px;
    font-size: 60px;
    position: absolute;
    z-index: 1;
  }
  .overlap1 {
    font-size: 30px;
    color: black;
    z-index: 1;
    position: absolute;
    left: 33%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
 
  #content::after {
    content: "";
    display: block;
    clear: both;
  }
  #tech {
    margin: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  #tech::after {
    content: "";
    display: block;
    clear: both;
  }
  .box {
    width: 44%;
    height: 70vh;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;

    margin-top: 2.5%;
    background-color: black;
    color: white;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
  }
  .box:hover {
    background-color: rgb(114,163, 91);
  }
  .box img {
    width: 100%;
    height: 28vh;
    border-bottom: 1px solid black;
    border-radius: 10px;
  }
  .title {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .title h3 {
    text-align: center;
    width: 100%;
  }
  .intro {
    height: 130px;
    text-align: justify;
    padding: 10px;
    margin: 5px;
    line-height: 20px;
    font-family: serif;
    overflow: hidden;
    padding-top: 0px;
  }
  .button a {
    background-color: rgb(82, 136, 185);
    display: block;
    text-decoration: none;
    color: white;
    height: auto;
    width: 90%;
    margin: 5%;
    margin-top: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid black;
    border-radius: 10px;
  }
  .button a:hover {
    background-color: rgb(187, 75, 75);
    font-size: large;
  }
  .members {
    padding-left: 2%;
    padding-right: 2%;
  }
  .members::after {
    content: "";
    display: block;
    clear: both;
  }
  #circle img {
    width: 43.5%;
    height: 43.5%;
    border-radius: 50%;
    margin: 3%;
    margin-top: 0%;
    margin-bottom: 3%;

    background-color: rgb(226, 152, 13);
    float: left;
    border: 1px solid black;
  }

  .footer {
    background-color: rgb(27,94,82);
    width: 100%;
    height: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
  }
  .footer a{
    color: black;
  }
  .footer a:hover{
    color: orchid;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  #left-sidebar {
    width: 96%;
    height: 30vh;
    text-align: justify;
    padding: 1%;
    overflow: auto;
    font-size: 30px;
    background-color: gray;
    float: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px solid;
    margin: 2%;
    margin-right: 0;
    margin-top: 0%;
  }
  #right-sidebar {
    width: 96%;
    height: auto;

    margin: 2%;
    margin-right: 0%;
    margin-top: 0%;
  }
  #Article {
    width: 100%;
    height: 30vh;
    margin-bottom: 2%;
    font-size: 40px;
    color: white;
    font-family: monospace;
    position: relative;
    border: 0px solid;
    overflow: hidden;
  }
}

@media (max-width: 479px) {
  .show-button,
  .hide-button {
    display: block;
  }
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    text-align: center;
    padding: 80px 0px;
    transition: 0.7s;
    line-height: normal;
  }
  #chk:checked ~ .navbar {
    right: 0;
  }
  .navbar li {
    display: block;
    padding: 20px 0;
  }
  .navbar li a {
    display: block;
  }
  .hide-button {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .banner {
    width: 100%;
    height: 50vh;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    position: relative;
    border: 1px solid black;
  }
  .banner img {
    width: 100%;
    height: 50vh;
    position: absolute;
  }
  .overlap {
    padding: 15px;
    font-size: 45px;
    position: absolute;
    z-index: 1;
  }
  .overlap1 {
    font-size: 30px;
    color: black;
    z-index: 1;
    position: absolute;
    left: 33%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #content::after {
    content: "";
    display: block;
    clear: both;
  }
  #tech {
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  #tech::after {
    content: "";
    display: block;
    clear: both;
  }
  .box {
    width: 80%;
    height: 70vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color: black;
    color: white;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s;
    position: relative;
  }
  .box:hover {
    background-color: rgb(114, 163, 91);
  }
  .box img {
    width: 100%;
    height: 28vh;
    border-bottom: 1px solid black;
    border-radius: 10px;
  }
  .title {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .title h3 {
    text-align: center;
    width: 100%;
  }
  .intro {
    height: 130px;
    text-align: justify;
    padding: 10px;
    margin: 5px;
    line-height: 20px;
    font-family: serif;
    overflow: hidden;
    padding-top: 0px;
  }
  .button a {
    background-color: rgb(82, 136, 185);
    display: block;
    text-decoration: none;
    color: white;
    height: auto;
    width: 90%;
    margin: 5%;
    margin-top: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid black;
    border-radius: 10px;
  }
  .button a:hover {
    background-color: rgb(187, 75,75);
    font-size: large;
  }
  .members {
    padding-left: 2%;
    padding-right: 2%;
  }
  .members::after {
    content: "";
    display: block;
    clear: both;
  }
  #circle img {
    width: 83%;
    height: 83%;
    border-radius: 50%;
    margin: 8%;
    margin-top: 0%;
    margin-bottom: 4%;

    background-color: rgb(226, 152, 13);
    float: left;
    border: 1px solid black;
  }

  .footer {
    background-color: rgb(27, 94, 82);
    width: 100%;
    height: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
  }
  .footer a{
    color: black;
  }
  .footer a:hover{
    color: orchid;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  #left-sidebar {
    width: 96%;
    height: 30vh;
    text-align: justify;
    padding: 1%;
    overflow: hidden;
    font-size: 30px;
    background-color: gray;
    float: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px solid;
    margin: 2%;
    margin-right: 0;
    margin-top: 0;
  }
  #right-sidebar {
    width: 96%;
    height: auto;

    margin: 2%;
    margin-right: 0%;
    margin-top: 0%;
  }
  #Article {
    width: 100%;
    height: 30vh;
    margin-bottom: 2%;
    font-size: 40px;
    color: white;
    font-family: monospace;
    position: relative;
    border: 0px solid;
    overflow: hidden;
  }
}